@charset 'UTF-8';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: rgb(23, 23, 34);

}
#calculadoraPrincipal{
    width: 292px;
    height: 430px;
    background-color: rgb(39, 39, 39);
    border-radius: 15px;
    padding: 10px;
    box-shadow: 2px 2px 4px rgba(68, 68, 68, 0.671);
}
button{
    width: 65px;
    height: 50px;
    background-color: rgb(43, 41, 51);
    color: white;
}
.size2{
    width: 134px;
    height: 50px;
}
#size2Vertical{
    width: 65px;
    height: 104px;
}
#rowFirsts{
    display: flex;
    column-gap: 4px;
    height: 50px;
}
.row{
    margin-bottom: 4px;
}
#tela{
    width: 270px;
    height: 50px;
    border-radius: 15px;
    background-color: rgb(199, 199, 199);
    margin: 25px 0 40px 0;
    font-size: 1.6em;
    text-align: right;
    padding: 6px;
    
}